.market-container{
			display: flex;
			flex-direction: column;

			.market-title {
				display: flex;
				margin: 0.5em;
				flex: 1;
				font-size: 1.5em;
			}

			.outcome_box {
				display: flex;
				flex: 1;
				font-size: 80%;
				flex-wrap: wrap;
			
				.outcome {
					padding: 0.5em;
					display: flex;
					flex-direction: column;
					flex: 1;
					align-items: center;
					justify-content: center;
					border: 5px solid white;
					border-radius: 0.5em;
					background-color: #e6e6e8;
					font-weight: 700;


					label, p {
						margin:0;
						display: flex;
						justify-content: left;
						flex: 1;
						align-items: center;
					}
				}

				.outcome:hover { 
					background-color: #999999;
					cursor: pointer;
				}
			}
		}