#event_details {
	margin: 1em;
	padding-top: 1em;
	border: 2px solid black;
	border-radius: 0.5em;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;

	#event_details_header{
		
		margin-bottom: 2em;
		display: flex;
		width: 100%;
		flex-direction: row;
		font-weight: 600;
		
		#scoreboard{
			display: flex;
			flex-direction: column;
			flex:2;

			#teams {
				display: flex;
				flex:1;
				padding:0.5em;


				.teamTitle {
					display: flex;
					flex:1;
					justify-content: center;
					align-items: center;
				}
			}

			#scores {
				display: flex;
				flex:1;

				.score {
					display: flex;
					flex:1;
					align-items: center;
					justify-content: center;
					font-size: 2em;
				}
			}
		}

		#other_details{
			display: flex;
			flex-direction: column;
			flex:1;
			font-size: 1.2em;

			#type {
				margin:0.2em;
				display: flex;
				flex:1;
				justify-content: center;
				align-items: center;
			}

			#league {
				margin:0.2em;
				display: flex;
				flex:1;
				justify-content: center;
				align-items: center;
			}
		}
		
		#return_button{
				display: flex;
				border: 1px solid #000000;
				border-radius: 5%;
				padding:1em;
				margin: 0 1em;
				justify-content: center;
				align-items: center;
				align-self: center;
			}

			#return_button:hover {
				color: #ffffff;
				background-color: #999999;
				border-color: #ffffff;
				cursor: pointer;
			}
	}

	#markets_list {
		display: flex;
		flex-direction: column;
		width:100%;
	}
}