#market_container{
	display: flex;
	border-top: 1px solid #000000;
	flex-direction: column;
	width:100%;

	#market_header {
		display: flex;
		flex-direction: row;

		#market_title {
			display: flex;
			flex-direction: row;
			margin:0;
			padding: 1em;
			flex: 8;

			@media screen and (min-width: 601px) {
				font-size: 16px;
			}

			@media screen and (max-width: 600px) {
				font-size: 12px;
			}
		}

		.more_market {
				margin: 0.5em;
				display: flex;
				flex: 1;  
				align-items: center;
				justify-content: center;
				border-radius: 50%;

				img {
					display: flex;
					width: 2em;
					max-height: 100%;
				}

				.img-open {
					transform: rotate(180deg);
				}
			}

			.more_market:hover { 
				background-color: lightgray;
				border-color: #ffffff;
				cursor: pointer;
			}
	}


	#outcome_box {
		display: flex;
		flex: 1;
		font-size: 80%;
		flex-wrap: wrap;
		
		.outcome {
			padding: 0.5em;
			display: flex;
			flex-direction: column;
			flex: 1;
			align-items: center;
			justify-content: center;
			border: 5px solid white;
			border-radius: 0.5em;
			background-color: #e6e6e8;
			font-weight: 700;

			label, p {
				margin:0;
				display: flex;
				justify-content: left;
				flex: 1;
				align-items: center;
				justify-content: center;
				}
			}
		
		.outcome:hover { 
			background-color: #999999;
			cursor: pointer;
		}
	}
}