#top-bar {
	margin:0;
	display: flex;
	flex-direction: row;
	color: black;
	width: 100%;
	height: 100%;

		#logo {
			margin: 1%;
			display: flex;
			flex:1;
        	max-height: 100%;
		}
		#top-bar-body{
			display: flex;
			flex:5;
			justify-content: flex-end;

			.button_decimal{
				display: flex;
				border: 1px solid #000000;
				border-radius: 5%;
				padding:1em;
				justify-content: center;
				align-items: center;
				margin: 1em 5% 1em;
			}

			.button_decimal:hover {
				color: #ffffff;
				background-color: #999999;
				border-color: #ffffff;
				cursor: pointer;
			}
		}
}