.event-block {
		margin: 1em;
		display: flex;
		flex-direction: column;

		.event-header {
			display: flex;
			border: 2px solid black;
			border-radius: 0.5em;

			.event-title {
				flex: 9;  
				margin:0;
				padding: 1em;
				width: 100%;
				height: 100%;

				@media screen and (min-width: 601px) {
					font-size: 16px;
				}

				@media screen and (max-width: 600px) {
					font-size: 12px;
				}
			}

			
			.more-market {
				margin: 0.5em;
				display: flex;
				flex: 1;  
				min-height: 100%;
				align-items: center;
				justify-content: center;
				border-radius: 50%;

				img {
					display: flex;
					width: 2em;
					max-height: 100%;
				}

				.img-open {
					transform: rotate(180deg);
				}
			}

			.more-market:hover { 
					background-color: lightgray;
					border-color: #ffffff;
					cursor: pointer;
				}
		}
	}