#app {
  font-family: Helvetica,Arial,sans-serif;
  text-align: left;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
}

#app-header {
  height: 10%;
  background-color: #ffffff;
  min-height: 3em;
  display: flex;
	flex-direction: row;
}

#dashboard-container{ 
  height: 95%;
  width: auto;
  display: flex;
  overflow: auto;
}